@model IEnumerable<MVCKontorExpert.Models.Product>

@{
    ViewData["Title"] = "All Products";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    @if (product.Images != null && product.Images.Any())
                    {
                        <img src="@product.Images.First().ImageUrl" class="card-img-top" alt="@product.Name" />
                    }
                    else
                    {
                        <img src="~/path_to_default_image.jpg" class="card-img-top" alt="Default Image" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Price.ToString("C")</p>
                        <a href="@Url.Action("Details", "ProductManagement", new { id = product.ProductID })" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
