@page
@model MVCKontorExpert.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Registrer";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            @Html.AntiForgeryToken()

            <h2>Opret konto nedenfor, eller log ind, hvis du har købt før</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="navn@eksempel.dk" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName">Fornavn</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName">Efternavn</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.CompanyName" class="form-control" />
                <label asp-for="Input.CompanyName">Firmanavn</label>
                <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.CVR" class="form-control" />
                <label asp-for="Input.CVR">CVR</label>
                <span asp-validation-for="Input.CVR" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" aria-required="true" />
                <label asp-for="Input.Address">Adresse</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Zip" class="form-control" aria-required="true" />
                <label asp-for="Input.Zip">Postnummer</label>
                <span asp-validation-for="Input.Zip" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" aria-required="true" />
                <label asp-for="Input.City">By</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Country" class="form-control" aria-required="true" />
                <label asp-for="Input.Country">Land</label>
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Phone" class="form-control" aria-required="true" />
                <label asp-for="Input.Phone">Telefon</label>
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Adgangskode</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Bekræft Adgangskode</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Gå til betaling</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Brug en anden tjeneste til at registrere dig.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Der er ingen eksterne godkendelsestjenester konfigureret. Se denne <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                artikel
                                om at konfigurere denne ASP.NET-applikation til at understøtte login via eksterne tjenester
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="/" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log ind med din @provider.DisplayName konto">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#registerForm").on("submit", function (event) {
                event.preventDefault(); // Prevent the form from submitting the default way
                var formData = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: '@Url.Page("/Account/Register", new { area = "Identity" })',
                    data: formData,
                    success: function (response) {
                        window.location.href = '/';
                    },
                    error: function (response) {
                        // Handle error
                        alert('Registration failed. Please try again.');
                    }
                });
            });
        });
    </script>
}
